# Semana 03
Axel Barzola Mendoza

Temas:
    1. Numeros
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de Datos por teclado
    5. Operadores

2. Variables

In [2]:
# Siempre deben iniciar con una letra o un guion abajo.
# (Nunca con un numero u otro simbolo)

In [4]:
edad = 20

In [5]:
edad

20

In [6]:
nombre = "Axel"

In [7]:
nombre

'Axel'

In [8]:
apellido = "Barzola"

In [9]:
apellido

'Barzola'

In [10]:
nombre + " " + apellido

'Axel Barzola'

In [13]:
nombreCompleto = nombre + " " + apellido

In [14]:
nombreCompleto

'Axel Barzola'

In [15]:
# Para saber el tipo de variable utilizamos la funcion type()
# Por ejemplo:

In [17]:
numero = 50
type(numero)

int

In [18]:
type(numero)

int

In [19]:
type(nombre)

str

In [20]:
talla = 1.78
type(talla)

float

In [21]:
cadena = str(talla)

In [22]:
cadena

'1.78'

In [23]:
type(numero)

int

In [24]:
number = float(talla)

In [25]:
number

1.78

In [26]:
#Convertir de cadena a decimal
cadena2 = "80"
number2 = float(cadena2)
number2

80.0