# Semana 03
Axel Barzola Mendoza

Temas:
    1. Numeros
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de Datos por teclado
    5. Operadores

Operadores

In [7]:
numero1 = 14
numero2 = 15
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion = numero1 * numero2
division = numero1 / numero2
potencia = numero1 ** numero2
residuo = numero1 % numero2
cociente = numero1 // numero2

print(suma)
print(resta)
print(multiplicacion)
print(division)
print(potencia)
print(residuo)
print(cociente)

29
-1
210
0.9333333333333333
155568095557812224
14
0

In [8]:
numero = 5
numero **= 3
print(numero)

125

In [9]:
# ==, !=, <, >, <=, >=
numero1 = 5
numero2 = 4
numero1 == numero2

False

In [10]:
cadena1 = "Hola"
cadena2 = "Hola"
cadena1 == cadena2

True

In [11]:
cadena1 = "Hola"
cadena2 = "Hol a"
cadena1 == cadena2

False

In [12]:
cadena1 = "Hola"
cadena2 = "Hola"
cadena1 == cadena2

True

In [13]:
numero1 = 4
numero2 = 5
numero3 = 6
numero4 = 7

In [14]:
numero1 < numero2

True

In [15]:
aula = ["Juan", "Daniel", "Ruben"]
alumno1 = "Diego"
alumno2 = "Juan"

In [16]:
alumno1 in aula

False

In [17]:
alumno3 in aula

NameError: name 'alumno3' is not defined

In [18]:
alumno2 not in aula

False

In [19]:
# OPERADORES DE IDENTIDAD
# is, is not

aula1 = ["Juan", "Daniel", "Ruben", "Diego"]
aula3 = ["Juan", "Daniel", "Ruben", "Diego"]

In [20]:
aula1 is aula3

False

In [21]:
aula3 is aula1

False